:root {
  --color-scheme-background: white;
  --color-scheme-text-color: black;
  --color-scheme-link-color: #1a0dab;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme-background: black;
    --color-scheme-text-color: white;
    --color-scheme-link-color: #8ab4f8;
  }
}

body {
  font-family: "Questrial", sans-serif;
  background: var(--color-scheme-background);
  color: var(--color-scheme-text-color);
  text-align: center;
}

img {
  float: center;
  object-fit: cover;
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

a {
  color: var(--color-scheme-link-color);
}